*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #fafafa;
}
nav{
    height: 140px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 2px 2px #DEDBDB;
}
.icons{
    display: flex;
    align-items: center;
}
.icons img{
    margin-right: 20px;
}
.box{
    width: 650px;
    height: 766px;
    border: 1px solid #DEDBDB;
    border-radius: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.box_top{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
}
.exit{
    display: flex;
    align-items: center;
}
.exit p{
    font-size: 24px;
    color: #F0400F;
    margin-left: 10px;
    font-weight: bold;
}
.space{
    font-size: 48px;
    text-align: center;
    color: #0E0D5D;
    padding-top: 100px;
    padding-bottom: 30px;
}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    width: 533px;
    height: 70px;
    border-radius: 20px;
    margin: auto;
}
.student{
    width:255px ;
    height:54px ;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student p{
    font-size: 28px;
}
.parent p{
    color: #757575;
    font-size: 28px;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    width: 533px;
    height: 70px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 60px;
    color: #757575B2;
}
.studentt {
    width:255px ;
    height:54px ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
h3{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;
    margin-top: 18px;
    color: #424242;
  }
  button{
    width: 200px;
    height: 34px;
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 20px;
    background-color:  #F69E86;
    border: 1px solid #F69E86;
    color: #FFFFFF;
    font-size: 20px;
    
  }